body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

h1 {
    color: #333;
}

.container{
    margin:auto;
    max-width: 850px;
    width: 100%;
    box-shadow: 0 0 5px 1px rgba(0,0,0,0.5);
    padding: 2rem;
    color: 000;
    border-radius: 5px;
    background-color: #ddd;
    transition: all 0.6s;
    opacity: 0.8;
}

button {
    margin-top: 10px;
    padding: 5px 10px;
    cursor: pointer;
}

.popup {
    display: none;
    margin:auto;
    max-width: 850px;
    width: 100%;
    box-shadow: 0 0 5px 1px rgba(0,0,0,0.5);
    padding: 2rem;
    color: 000;
    border-radius: 5px;
    background-color: #ddd;
    transition: all 0.6s;
    opacity: 0.8;
  }
  
  #popup:after {

  }
  
  #popup:before {
    position: absolute;
    content: "";
    z-index: -1;
  }

html { 
    background: url('valorant.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }